.collection-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    margin-top: 4rem;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;

    & .collection-item {
      margin-bottom: 30px;
      margin-top: 3rem;
    }
    max-width: 940px;
    margin: 0 auto;

    @media screen and (max-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin: 0 auto;
    }
  }
}
